 <!-- <router-outlet></router-outlet> -->

 <h2>Form Angular Cli</h2>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div> 
<form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>

  <!-- {{userForm.value | json}} -->
    {{userForm.form.valid}}
<hr>
  <!-- {{userModel | json}} -->

  

  <div class="form-group mb-3">
    <label>Names</label>
    <input type="name" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="username" [(ngModel)]="userModel.name">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is Required</small>
  </div>
  <!-- {{name.untouched}} -->
  <div class="form-group mb-3">
  <label>Email</label>
  <input type="email"  class="form-control" name="email" [(ngModel)]="userModel.email">
  
</div>

<!-- <div class="form-group mb-3">
  <label>Phone</label>
  <input type="tel"  #phone="ngModel"  required pattern="^\d{10}5" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
  <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
    <small class="text-danger" *ngIf="phone.errors.required">phone is required</small>
    <small class="text-danger" *ngIf="phone.errors.pattern">phone is 10 digits required</small>
  </div>
</div> -->

<div class="form-group mb-3">
  <select  (blur)="validdateTopic(topic.value)" (change)="validdateTopic(topic.value)" class="custom-select" #topic="ngModel" class="custom-select" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic"  selected class="form-control"> 
    <option value="default">Iam Interest In</option>
    <option *ngFor="let topic of topics">{{topic}}</option>
  </select>
  <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">please choose topic</small>
</div>

<div class="mb-3" style="width: 1000px;">
  <label>Time Preference</label>
  <div class="form-check" style="width: 1000px; white-space: nowrap">
  <input class="form-check-input" type="radio"  value="morning" name="timePreference" [(ngModel)]="userModel.timePreference">
  <label class="form-check-label">Morning (9PM - 12PM)</label>
  </div>
  <div class="form-check" style="width: 1000px; white-space: nowrap">
  <input class="form-check-input" type="radio"  value="evening" name="timePreference" [(ngModel)]="userModel.timePreference">
  <label class="form-check-label">Evening (5PM - 8PM)</label>
  </div>
</div>


<div class="form-group mb-3">
  <input class="form-check-input pr-5" type="checkbox" value="evening" name="subscribe" [(ngModel)]="userModel.subscribe">
  <label class="form-check-label">Send Promotional Offers</label>
</div>

<button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="Submit">Submit Form</button>
</form>